In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\ricar\appdata\local\programs\python\python312\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\ricar\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ricar\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\ricar\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ricar\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ricar\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
# Import relevant packages
import pandas as pd

In [4]:
file_name = "LinkedIn_Jobs_Data_Scientist_Monterrey_2024-09-04.csv"
df_jobs = pd.read_csv(file_name)
print(df_jobs.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573 entries, 0 to 572
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Location  573 non-null    object
 1   Title     573 non-null    object
 2   Company   573 non-null    object
 3   Url       573 non-null    object
dtypes: object(4)
memory usage: 18.0+ KB
None

In [5]:
df_jobs.head()

,Location,Title,Company,Url
0,"Monterrey, Nuevo León, Mexico",Jr. Data Scientist,Arca Continental,https://mx.linkedin.com/jobs/view/jr-data-scie...
1,"San Nicolás de Los Garza, Nuevo León, Mexico",Científico de datos,Ternium,https://mx.linkedin.com/jobs/view/cient%C3%ADf...
2,"Santa Catarina, Nuevo León, Mexico",Data Scientist Intern,Siemens,https://mx.linkedin.com/jobs/view/data-scienti...
3,"Monterrey, Nuevo León, Mexico",ML Engineer (Engineer Software Development),NEORIS,https://mx.linkedin.com/jobs/view/ml-engineer-...
4,"Centro de San Pedro Garza García, Nuevo León, ...",Jr. Python Software Engineer,Spectrum Effect,https://mx.linkedin.com/jobs/view/jr-python-so...

In [6]:
df_jobs['Location'] = df_jobs['Location'].apply(lambda x: x.split(',')[0])
unique_locations = df_jobs['Location'].unique()
print(unique_locations)

['Monterrey' 'San Nicolás de Los Garza' 'Santa Catarina'
 'Centro de San Pedro Garza García' 'San Pedro Garza García' 'Polanco'
 'Garza García' 'Guadalupe' 'Villa de García' 'San Nicolás de los Garza']

In [7]:
# Define a mapping for the location names
location_mapping = {
    'San Pedro Garza García': 'San Pedro',
    'Centro de San Pedro Garza García': 'San Pedro',
    'Monterrey Metropolitan Area': 'Monterrey',
    'San Nicolás de los Garza': 'San Nicolás',
    'San Nicolás de Los Garza': 'San Nicolás',
    'Garza García': 'García',
    'Santa Catarina': 'Santa Catarina',
    'Guadalupe': 'Guadalupe',
    'Villa de García': 'García',
    'Polanco': 'Polanco'
}
# Function to rename locations based on the mapping
def rename_location(location):
    return location_mapping.get(location, location)

In [8]:
# Apply the function to the DataFrame
df_jobs['Location'] = df_jobs['Location'].apply(rename_location)

df_jobs['Location'] = df_jobs['Location'].astype('category')

print(df_jobs['Location'].unique())
print(df_jobs['Location'].dtype)
print(f"There's a total of {df_jobs['Location'].nunique()} unique categories for Location in our current dataframe")

['Monterrey', 'San Nicolás', 'Santa Catarina', 'San Pedro', 'Polanco', 'García', 'Guadalupe']
Categories (7, object): ['García', 'Guadalupe', 'Monterrey', 'Polanco', 'San Nicolás', 'San Pedro', 'Santa Catarina']
category
There's a total of 7 unique categories for Location in our current dataframe

In [9]:
pd.set_option('display.max_columns', None)  # None means no limit
pd.set_option('display.max_rows', None)  # None means no limit
pd.set_option('display.max_colwidth', None)  # None means no limit

df_jobs[['Url']].head(5)

                                                                                                                                                                                                                                             Url
0            https://mx.linkedin.com/jobs/view/jr-data-scientist-at-arca-continental-4002846143?position=1&pageNum=0&refId=GdjvUtW%2BTKgsHJMSBtdgig%3D%3D&trackingId=zp%2Bj6%2BwmXqVufnuEIt%2Bz6Q%3D%3D&trk=public_jobs_jserp-result_search-card
1                    https://mx.linkedin.com/jobs/view/cient%C3%ADfico-de-datos-at-ternium-3995105832?position=2&pageNum=0&refId=GdjvUtW%2BTKgsHJMSBtdgig%3D%3D&trackingId=58yGzTJxjQTM0jeriIwHdg%3D%3D&trk=public_jobs_jserp-result_search-card
2                   https://mx.linkedin.com/jobs/view/data-scientist-intern-at-siemens-4005909465?position=3&pageNum=0&refId=GdjvUtW%2BTKgsHJMSBtdgig%3D%3D&trackingId=Lw%2BSpQzTY5fJVK71j2LP%2BQ%3D%3D&trk=public_jobs_jserp-result_search-card
3  https://mx.linkedin.com/jobs/view/ml-engineer-engineer-software-development-at-neoris-4002146229?position=4&pageNum=0&refId=GdjvUtW%2BTKgsHJMSBtdgig%3D%3D&trackingId=%2BlzdksyE8nqJGl6ASyjWvQ%3D%3D&trk=public_jobs_jserp-result_search-card
4         https://mx.linkedin.com/jobs/view/jr-python-software-engineer-at-spectrum-effect-4017028201?position=5&pageNum=0&refId=GdjvUtW%2BTKgsHJMSBtdgig%3D%3D&trackingId=FuujEFG2Vkpgnl7gXXJleQ%3D%3D&trk=public_jobs_jserp-result_search-card

In [10]:
def truncate_url(url):
    parts = url.split('?position')
    return parts[0]
df_jobs['Url'] = df_jobs['Url'].apply(truncate_url)

In [11]:
df_jobs[['Url']].head(5)

                                                                                                Url
0                https://mx.linkedin.com/jobs/view/jr-data-scientist-at-arca-continental-4002846143
1                  https://mx.linkedin.com/jobs/view/cient%C3%ADfico-de-datos-at-ternium-3995105832
2                     https://mx.linkedin.com/jobs/view/data-scientist-intern-at-siemens-4005909465
3  https://mx.linkedin.com/jobs/view/ml-engineer-engineer-software-development-at-neoris-4002146229
4       https://mx.linkedin.com/jobs/view/jr-python-software-engineer-at-spectrum-effect-4017028201

In [12]:
df_jobs['JobID'] = df_jobs['Url'].apply(lambda url: url[-10:])

In [13]:
df_jobs[['JobID']].head(5)

        JobID
0  4002846143
1  3995105832
2  4005909465
3  4002146229
4  4017028201

In [14]:
duplicates = df_jobs[df_jobs.duplicated(subset='JobID', keep=False)]
duplicate_count = df_jobs['JobID'].duplicated().sum()
print(f"Number of duplicate JobIDs: {duplicate_count}")

Number of duplicate JobIDs: 80

In [15]:
df_jobs = df_jobs.drop_duplicates(subset='JobID', keep='first').reset_index(drop=True)

In [16]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 493 entries, 0 to 492
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Location  493 non-null    category
 1   Title     493 non-null    object
 2   Company   493 non-null    object
 3   Url       493 non-null    object
 4   JobID     493 non-null    object
dtypes: category(1), object(4)
memory usage: 16.4+ KB

In [17]:
duplicates = df_jobs[df_jobs.duplicated(subset=['Location', 'Title', 'Company'], keep=False)]
duplicates

,Location,Title,Company,Url,JobID
18,Monterrey,Python API Developer,Accenture México,https://mx.linkedin.com/jobs/view/python-api-developer-at-accenture-m%C3%A9xico-3977671637,3977671637
19,Monterrey,Python API Developer,Accenture México,https://mx.linkedin.com/jobs/view/python-api-developer-at-accenture-m%C3%A9xico-3975119192,3975119192
29,Monterrey,AI Python Developer Sr,Accenture México,https://mx.linkedin.com/jobs/view/ai-python-developer-sr-at-accenture-m%C3%A9xico-4001918826,4001918826
30,Monterrey,AI Python Developer Sr,Accenture México,https://mx.linkedin.com/jobs/view/ai-python-developer-sr-at-accenture-m%C3%A9xico-4001916879,4001916879
31,Monterrey,AI Python Developer Sr,Accenture México,https://mx.linkedin.com/jobs/view/ai-python-developer-sr-at-accenture-m%C3%A9xico-4001916880,4001916880
32,Monterrey,AI Python Developer Sr,Accenture México,https://mx.linkedin.com/jobs/view/ai-python-developer-sr-at-accenture-m%C3%A9xico-4001915998,4001915998
36,San Pedro,Software Engineering Intern,Kuona,https://mx.linkedin.com/jobs/view/software-engineering-intern-at-kuona-4016144924,4016144924
37,San Pedro,Software Engineering Intern,Kuona,https://mx.linkedin.com/jobs/view/software-engineering-intern-at-kuona-4014501571,4014501571
52,Monterrey,Desarrollador Fullstack,Tecnológico de Monterrey,https://mx.linkedin.com/jobs/view/desarrollador-fullstack-at-tecnol%C3%B3gico-de-monterrey-4007947167,4007947167
54,Monterrey,Desarrollador Fullstack,Tecnológico de Monterrey,https://mx.linkedin.com/jobs/view/desarrollador-fullstack-at-tecnol%C3%B3gico-de-monterrey-3989558437,3989558437
58,Monterrey,Front End Developer,Accenture México,https://mx.linkedin.com/jobs/view/front-end-developer-at-accenture-m%C3%A9xico-3977672603,3977672603
63,San Pedro,Cloud Engineering Intern,Kuona,https://mx.linkedin.com/jobs/view/cloud-engineering-intern-at-kuona-4014502329,4014502329
72,San Pedro,Cloud Engineering Intern,Kuona,https://mx.linkedin.com/jobs/view/cloud-engineering-intern-at-kuona-4016150211,4016150211
77,San Pedro,Data Engineering Intern,Kuona,https://mx.linkedin.com/jobs/view/data-engineering-intern-at-kuona-4016149298,4016149298
87,San Pedro,Data Engineering Intern,Kuona,https://mx.linkedin.com/jobs/view/data-engineering-intern-at-kuona-4014199772,4014199772
100,Monterrey,Front End Developer,Accenture México,https://mx.linkedin.com/jobs/view/front-end-developer-at-accenture-m%C3%A9xico-4006036201,4006036201
127,Monterrey,Software Development Engineer,Accenture México,https://mx.linkedin.com/jobs/view/software-development-engineer-at-accenture-m%C3%A9xico-3948140395,3948140395
130,Monterrey,Software Development Engineer,Accenture México,https://mx.linkedin.com/jobs/view/software-development-engineer-at-accenture-m%C3%A9xico-3948072955,3948072955
145,Monterrey,Software Engineer - packaging - optimize Ubuntu Server for public clouds,Canonical,https://mx.linkedin.com/jobs/view/software-engineer-packaging-optimize-ubuntu-server-for-public-clouds-at-canonical-4013780161,4013780161
147,Monterrey,SQL Developer,NEORIS,https://mx.linkedin.com/jobs/view/sql-developer-at-neoris-3931877190,3931877190
165,Monterrey,Embedded Software Engineer,Aptiv,https://mx.linkedin.com/jobs/view/embedded-software-engineer-at-aptiv-4016244464,4016244464
166,Monterrey,SDET (.Net with Selenium),Infosys,https://mx.linkedin.com/jobs/view/sdet-net-with-selenium-at-infosys-3980914289,3980914289
171,Monterrey,Software Engineer - packaging - optimize Ubuntu Server for public clouds,Canonical,https://mx.linkedin.com/jobs/view/software-engineer-packaging-optimize-ubuntu-server-for-public-clouds-at-canonical-3984583505,3984583505
172,Monterrey,Software Engineer - packaging - optimize Ubuntu Server for public clouds,Canonical,https://mx.linkedin.com/jobs/view/software-engineer-packaging-optimize-ubuntu-server-for-public-clouds-at-canonical-3979911123,3979911123
174,Monterrey,Software Engineer - packaging - optimize Ubuntu Server for public clouds,Canonical,https://mx.linkedin.com/jobs/view/software-engineer-packaging-optimize-ubuntu-server-for-public-clouds-at-canonical-3960936771,3960936771
175,Monterrey,Full-Stack Developer,Chubb,https://mx.linkedin.com/jobs/view/full-stack-developer-at-chubb-3921204887,3921204887
179,Monterrey,Data Engineer,Azkait,https://mx.linkedin.com/jobs/view/data-engineer-at-azkait-3954350879,3954350879
180,Monterrey,SQL Developer,NEORIS,https://mx.linkedin.com/jobs/view/sql-developer-at-neoris-3932346984,3932346984
183,Monterrey,SDET (.Net with Selenium),Infosys,https://mx.linkedin.com/jobs/view/sdet-net-with-selenium-at-infosys-3980911512,3980911512
185,Monterrey,Full-Stack Developer,Chubb,https://mx.linkedin.com/jobs/view/full-stack-developer-at-chubb-3938196093,3938196093
186,Monterrey,Full-Stack Developer,Chubb,https://mx.linkedin.com/jobs/view/full-stack-developer-at-chubb-3938195154,3938195154
190,Monterrey,SQL Developer,NEORIS,https://mx.linkedin.com/jobs/view/sql-developer-at-neoris-3950987094,3950987094
198,Monterrey,Workday Developer,Accenture México,https://mx.linkedin.com/jobs/view/workday-developer-at-accenture-m%C3%A9xico-4001528662,4001528662
199,Monterrey,Application Developer Java,Accenture México,https://mx.linkedin.com/jobs/view/application-developer-java-at-accenture-m%C3%A9xico-3950852553,3950852553
203,Monterrey,Workday Developer,Accenture México,https://mx.linkedin.com/jobs/view/workday-developer-at-accenture-m%C3%A9xico-4001532102,4001532102
204,Monterrey,Embedded Software Engineer,Aptiv,https://mx.linkedin.com/jobs/view/embedded-software-engineer-at-aptiv-3976476296,3976476296
211,Monterrey,Data Engineer,Azkait,https://mx.linkedin.com/jobs/view/data-engineer-at-azkait-3943983783,3943983783
225,Monterrey,Sr. Software Engineer,Blue Yonder,https://mx.linkedin.com/jobs/view/sr-software-engineer-at-blue-yonder-4000291492,4000291492
234,Monterrey,Data Engineer,Chubb,https://mx.linkedin.com/jobs/view/data-engineer-at-chubb-4006316357,4006316357
237,Monterrey,Application Developer Java,Accenture México,https://mx.linkedin.com/jobs/view/application-developer-java-at-accenture-m%C3%A9xico-3950854312,3950854312
242,Monterrey,Software Engineer - Cross-platform C++ - Multipass,Canonical,https://mx.linkedin.com/jobs/view/software-engineer-cross-platform-c%2B%2B-multipass-at-canonical-4013774621,4013774621
246,Monterrey,.NET Jr. Developer,TigerTeam Capital Humano,https://mx.linkedin.com/jobs/view/net-jr-developer-at-tigerteam-capital-humano-3850205832,3850205832
251,Monterrey,Software Engineer - Cross-platform C++ - Multipass,Canonical,https://mx.linkedin.com/jobs/view/software-engineer-cross-platform-c%2B%2B-multipass-at-canonical-3999529714,3999529714
252,Monterrey,Data Engineer,Chubb,https://mx.linkedin.com/jobs/view/data-engineer-at-chubb-3897093237,3897093237
253,Monterrey,Data Engineer,Chubb,https://mx.linkedin.com/jobs/view/data-engineer-at-chubb-3897093236,3897093236
255,Monterrey,Data Engineer,Chubb,https://mx.linkedin.com/jobs/view/data-engineer-at-chubb-3870861602,3870861602
256,Monterrey,.NET Jr. Developer,TigerTeam Capital Humano,https://mx.linkedin.com/jobs/view/net-jr-developer-at-tigerteam-capital-humano-3850211223,3850211223
257,Monterrey,Data Engineer,Chubb,https://mx.linkedin.com/jobs/view/data-engineer-at-chubb-3870862542,3870862542
258,Monterrey,Application Developer - JAVA,Accenture México,https://mx.linkedin.com/jobs/view/application-developer-java-at-accenture-m%C3%A9xico-3948135914,3948135914
259,Monterrey,Data Engineer,Chubb,https://mx.linkedin.com/jobs/view/data-engineer-at-chubb-3870863546,3870863546
261,Monterrey,Application Developer - JAVA,Accenture México,https://mx.linkedin.com/jobs/view/application-developer-java-at-accenture-m%C3%A9xico-3948142072,3948142072
265,Monterrey,Data Engineer,Chubb,https://mx.linkedin.com/jobs/view/data-engineer-at-chubb-3941471610,3941471610
269,Monterrey,Application Developer - JAVA,Accenture México,https://mx.linkedin.com/jobs/view/application-developer-java-at-accenture-m%C3%A9xico-3948135913,3948135913
273,Monterrey,Data Engineer,Chubb,https://mx.linkedin.com/jobs/view/data-engineer-at-chubb-3870861600,3870861600
275,Monterrey,Data Engineer,Chubb,https://mx.linkedin.com/jobs/view/data-engineer-at-chubb-3870863545,3870863545
282,Monterrey,Security Engineer - Ubuntu,Canonical,https://mx.linkedin.com/jobs/view/security-engineer-ubuntu-at-canonical-3979904881,3979904881
298,Monterrey,Security Engineer - Ubuntu,Canonical,https://mx.linkedin.com/jobs/view/security-engineer-ubuntu-at-canonical-3959498203,3959498203
314,Monterrey,.NET Developer,Sequoia Connect,https://mx.linkedin.com/jobs/view/net-developer-at-sequoia-connect-3905163495,3905163495
317,Monterrey,.NET Developer,Sequoia Connect,https://mx.linkedin.com/jobs/view/net-developer-at-sequoia-connect-3746362396,3746362396
325,Monterrey,Linux Cryptography and Security Engineer,Canonical,https://mx.linkedin.com/jobs/view/linux-cryptography-and-security-engineer-at-canonical-3979909411,3979909411
326,Monterrey,Linux Cryptography and Security Engineer,Canonical,https://mx.linkedin.com/jobs/view/linux-cryptography-and-security-engineer-at-canonical-3959703052,3959703052
331,Monterrey,Sr. Software Engineer,Blue Yonder,https://mx.linkedin.com/jobs/view/sr-software-engineer-at-blue-yonder-3838946422,3838946422
335,Monterrey,Data Engineer,NEORIS,https://mx.linkedin.com/jobs/view/data-engineer-at-neoris-3977451215,3977451215
339,Monterrey,Data Engineer,NEORIS,https://mx.linkedin.com/jobs/view/data-engineer-at-neoris-3996587024,3996587024
349,Monterrey,Data Engineer,NEORIS,https://mx.linkedin.com/jobs/view/data-engineer-at-neoris-3997049599,3997049599
355,Monterrey,.NET Developer,Infosys,https://mx.linkedin.com/jobs/view/net-developer-at-infosys-4011214322,4011214322
367,Monterrey,.NET Developer,Infosys,https://mx.linkedin.com/jobs/view/net-developer-at-infosys-4006690746,4006690746
377,Monterrey,Senior Software Engineer - MAAS,Canonical,https://mx.linkedin.com/jobs/view/senior-software-engineer-maas-at-canonical-4013776525,4013776525
381,Monterrey,Senior Software Engineer - MAAS,Canonical,https://mx.linkedin.com/jobs/view/senior-software-engineer-maas-at-canonical-3984579994,3984579994
386,Monterrey,Salesforce Technical Lead/Developer,Accenture México,https://mx.linkedin.com/jobs/view/salesforce-technical-lead-developer-at-accenture-m%C3%A9xico-4004695585,4004695585
397,San Nicolás,Java Developer,Atos,https://mx.linkedin.com/jobs/view/java-developer-at-atos-4000124146,4000124146
398,San Nicolás,Java Developer,Atos,https://mx.linkedin.com/jobs/view/java-developer-at-atos-4000124148,4000124148
400,Monterrey,Salesforce Technical Lead/Developer,Accenture México,https://mx.linkedin.com/jobs/view/salesforce-technical-lead-developer-at-accenture-m%C3%A9xico-3999039628,3999039628
449,Monterrey,S4 ABAP Developer - Mexico,Accenture México,https://mx.linkedin.com/jobs/view/s4-abap-developer-mexico-at-accenture-m%C3%A9xico-4015562485,4015562485
460,Monterrey,S4 ABAP Developer - Mexico,Accenture México,https://mx.linkedin.com/jobs/view/s4-abap-developer-mexico-at-accenture-m%C3%A9xico-4010450120,4010450120
464,Monterrey,Data Engineer Senior Analyst,Accenture México,https://mx.linkedin.com/jobs/view/data-engineer-senior-analyst-at-accenture-m%C3%A9xico-3977670727,3977670727
481,Monterrey,Data Engineer Senior Analyst,Accenture México,https://mx.linkedin.com/jobs/view/data-engineer-senior-analyst-at-accenture-m%C3%A9xico-4004693695,4004693695

In [18]:
df_jobs = df_jobs.drop_duplicates(subset=['Location', 'Title', 'Company']).reset_index(drop=True)

In [19]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 447 entries, 0 to 446
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Location  447 non-null    category
 1   Title     447 non-null    object
 2   Company   447 non-null    object
 3   Url       447 non-null    object
 4   JobID     447 non-null    object
dtypes: category(1), object(4)
memory usage: 14.9+ KB

In [20]:
categories = {
    'Data Engineering': ['Data Engineer', 'ETL', 'Data Platform', 'Data Pipeline', 
                         'Database Engineer', 'Big Data', 'Hadoop', 'Spark', 
                         'Databricks', 'Data Integration', 'Data Warehouse',
                         'Data Monitoring', 'Data Governance and Management',
                         'Ingeniero de Datos', 'Data Cloud'],
    
    'Data Analysis': ['Data Analyst', 'Business Intelligence', 'BI', 'Data Visualization', 
                      'Data Reporting', 'SQL', 'Data Metrics', 'Analytics', 'Data Insights',
                      'Analítica de Datos', 'Data Operations Analyst', 'Analista de Datos',
                      'Data and Process Analyst'],
    
    'Data Science': ['Data Scientist', 'Machine Learning', 'ML', 'Statistical Analysis', 
                     'Predictive Modeling', 'Data Modeling', 'Deep Learning', 
                     'Algorithm', 'Statistical', 'Data Science Analyst', 'Científico de datos'],
    
    'AI/ML': ['AI', 'Artificial Intelligence', 'Machine Learning', 'ML', 'Neural Networks', 
              'Deep Learning', 'AI Engineer', 'AI/ML Engineer', 'MLOps', 'Model Training',
              'IA'],
    
    'Software Engineering': ['Software Engineer', 'Developer', 'Backend Developer', 
                              'Frontend Developer', 'Fullstack Developer', 'Software Development', 
                              'Programming', 'App Developer', 'Application Developer', 
                              'DevOps', 'Desarrollador']
}

def get_category(title):
    title_lower = title.lower()
    for category, keywords in categories.items():
        for keyword in keywords:
            if keyword.lower() in title_lower:
                return category
    return 'Other'

In [21]:
# Apply the function to the 'Job_Title' column
df_jobs['Category'] = df_jobs['Title'].apply(get_category)
x = df_jobs['Category'].unique()
print(x)

['Data Science' 'Software Engineering' 'AI/ML' 'Data Engineering' 'Other'
 'Data Analysis']

In [22]:
filtered_location_list = ['Monterrey', 'San Pedro']
df_jobs = df_jobs[df_jobs['Location'].isin(filtered_location_list)]

In [23]:
categories_to_keep = ['Data Science', 'Data Analysis','Data Engineering', 'AI/ML']
df_jobs = df_jobs[df_jobs['Category'].isin(categories_to_keep)].reset_index(drop=True)
x = df_jobs['Category'].unique()
print(x)

['Data Science' 'AI/ML' 'Data Engineering' 'Data Analysis']

In [24]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119 entries, 0 to 118
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Location  119 non-null    category
 1   Title     119 non-null    object
 2   Company   119 non-null    object
 3   Url       119 non-null    object
 4   JobID     119 non-null    object
 5   Category  119 non-null    object
dtypes: category(1), object(5)
memory usage: 5.2+ KB

In [25]:
file_name = file_name.replace(".csv","_clean.csv")

# Export DataFrame to CSV
df_jobs.to_csv(file_name, index=False)

In [ ]:
# Get info from job: https://www.linkedin.com/jobs-guest/jobs/api/jobPosting/3994953438